body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: #FFFFFF;
}

.portfolio-card {
    display: inline-flex;
    position: absolute;
    width: 1127px;
    height: 595px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #444444;
    border-radius: 30px;
}

.portfolio-card__cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 380px;
}

.cv__avatar {
    margin-top: 70px;
    border-radius: 100px;
    width: 180px;
    height: 180px;
    background: url("res/profile_img.jpg");
    background-size: cover;
}

.cv__avatar-shadow {
    position: absolute;
    border-radius: 100px;
    width: 180px;
    height: 180px;
    left: 112px;
    top: 82px;
    background: #C4C4C4;
    opacity: 0.2;
}


.cv__name {
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    margin: 29px 0 0;
    text-align: center;
}

.cv__position {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 8px 0 0;
    text-align: center;
}

.cv__social-medias {
    display: inline-flex;
}

.social-medias__image-link {
    border-radius: 100px;
    margin: 16px 10px 0 0;
    width: 24px;
    height: 24px;
}

.cv__button-download {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    border-radius: 30px;
    border-width: 3px;
    background: inherit;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding: 10px 30px;
    margin: 57px 0 0;
}

.cv__footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 66px 0 0;
}

.portfolio-card__basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    background: #222222;
    border-radius: 30px;
}

.basic-info__name{
    font-weight: 700;
    font-size: 62px;
    line-height: 71px;
    margin: 0;
    text-align: center;
}


.basic-info__position {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    margin: 8px 0 0;
    text-align: center;
}
